@import '../../../styles/color';
*{
    box-sizing: border-box;
}
body {
    font-family: 'lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}
.main-container {
    max-width: 960px;
    border: 20px double black;
    background-color: yellow;
    align-content: center;
    margin: 0 auto;
}