.about-container {
    height: 100vh;
    margin: 20% 15%;

    p {
        font-size: 30px;
        font-family: cursive;
    }
    &__fancy-text {
        background: #00B1D2FF;
        border-radius: 12px;
        text-transform: uppercase;
    }
}