.posts {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 26px;
    left: 20%;
    height: 100vh;
    @media screen and (max-width: 768px){
        position: relative;
        left: 0;
        top: 0;
    }
    
}
.background {
    width: 75vh;
    height: 75vh;
    border-radius: 52px;

}

.post {
    margin: 1rem 0.5rem;
    border-radius: 30px;
    width: 500px;
    height: 200px;
    display: inline-block;
    background-image: linear-gradient(to right top,rgba(32, 192, 192, 0.8) rgba(78, 167, 167, 0.8)), url('../images/pineapple-supply-co-ag-wBPpLR9g-unsplash.jpg');
    background-size: cover;
    background-position: top;
    // background: rgb(10, 10, 10);
    a {
        color: rgb(7, 7, 7);
        display: block;
        padding: 1rem;
        padding-top: 60px;
        font-family: cursive;
        text-decoration: none;

    }

    h2 {
        margin-bottom: 0;
        @media screen and (max-width: 768px){
          font-size: 1rem;
        }
    }

    p {
        font-size: .8rem;
        font-style: 'lato';
        font-weight: 700;
        a {
            padding-top: 60px;
        }
    }
    @media screen and (max-width: 768px){
        width: 339px;
        height: 153px;
        
    }
}

.post:hover {
    box-shadow: 3px 3px 5px 6px yellow;
    position: relative;
    background: #00B;
    z-index: 100;
}