*{
    margin: 0;
    padding: 0;
}

.home-container {
    height: 95vh;
    background-image: linear-gradient(to right top,rgba(34, 39, 39, 0.8) rgba(6, 7, 7, 0.8)), url('../images/pineapple-supply-co-ag-wBPpLR9g-unsplash.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);

    &__main-text {
        position: absolute;
        top: 50%;
        left: 34%;
        width: 312px;
        background: black;
        color: white;
        
    }
    &__sub-text {
        position: absolute;
         position: absolute;
        top: 55%;
        left: 40%;

    }
}

