.background {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 77vw;
    height: 95vh;
    padding-bottom: 30px;
    border-radius: 52px;
    // border: 30px solid yellow;

}

.text {
    text-align: justify;
    padding: 30px;
}
.container {
    margin-top: 10px;
    padding: 80px;

}

p {
    // text-align: center;
    // font-family: 'lato', sans-serif;
    font-family: cursive;
    line-height: 32px;
    letter-spacing: 0.1px;
    word-spacing: 0.1px;
    font-weight: 700;
}

h1 {
    text-align: center;
    margin-top: 20px;
}