.navbar {
    &__list-container {
        font-family: 'lato' sans-serif;
        font-weight: 900;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style-type: none;
        &__list-item {
            list-style: none;
            margin-right: 50px;
            margin-top: 15px;
            background-color: black;
            border-radius: 30px;
            padding: 0 10px;

            &__link {
                color: black;
                text-decoration: none;
            }
            a{
                text-decoration: none;
                color: rgb(245, 245, 245);
            }
        }
        &__list-item:hover {
            list-style: none;
            margin-right: 50px;
            margin-top: 15px;
            background-color: #00B1D2FF;
            border-radius: 30px;
            padding: 0 10px;

            &__link {
                color: black;
                text-decoration: none;
                background-color: rgb(227, 241, 22);
            }
            a {
                text-decoration: none;
                color: rgb(2, 2, 2);
            }
        }

    }
    &__social-container {
        position: absolute;
        margin-left: 20px;
        font-family: 'lato' sans-serif;
        font-weight: 900;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style-type: none;
        flex-direction: column;
        width: 100px;
        top: 8%;
        left: 2%;
        z-index: 100;

        &__item {
            display: inline;
            list-style: none;
            background-color: black;
            border-radius: 30px;
            padding: 0 10px;
            color: white;
            margin-right: 34px;
            margin-top: 20px;
            text-align: left;
            padding: 10px;
        }
        &__item:hover {
            display: inline;
            list-style: none;
            background-color: #00B;
            border-radius: 30px;
            padding: 0 10px;
            color: white;
            margin-right: 34px;
            padding: 10px;
           
        }
        a {
            text-decoration: none;
            color: rgb(245, 245, 245);
         }
    }
    &__toggle {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}